h1{
    color: blueviolet; 
    font-family: cursive; 
    text-align: center;
    transition: rotate 1.1s ease-in-out;
    font-size: 40px;
    margin-top: 70px;
}

h1:hover{
    transform: rotate(360deg);
}

p{
    font-size: larger;
    font-family: cursive; 
    text-align: center;
}

body{
    background-color: lavender
}

a{
    color: black;
    font-family: cursive;
    font-size: larger;
    text-decoration: none;
    padding: 15px;
    transition: transform 0.7s ease-in-out;
}

a:hover{
    color: blueviolet;
    transform: scale(1.3)
}

nav{
    position: absolute;
    margin-left: 10vw;
    margin-top: 0vh;
    float: left;
}


img:hover{
    opacity: 50%;
}

#logo{
    width: 80px;
    height: auto;
    border-radius: 50%;
    margin-left: 20px;
}
