body{
    background-color: mediumturquoise;
    color: aliceblue;
    font-size: larger;
    font-family: cursive;
}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

div{
    margin-left: 40%;
}

ul{
    list-style-type:circle;
}

a{
    color: black;
    font-family: cursive;
    font-size: larger;
    text-decoration: none;
    padding: 15px;
    transition: transform 1s ease-in-out;
}

a:hover{
    color: blueviolet;
    transform: scale(1.3) rotate(360deg) 
}

.navlink{
    padding: 20px;
}
